/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}
a{
  text-decoration:none;
}
table {
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,ul {
  list-style: none;
  margin:0;
  padding:0;
}
caption,th {
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial,helvetica;
  color: #F2F2F2;
}
.content {
  position: relative;
  text-align: center;
}
.text-overlay {
  &:before {
    content: ' ';
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.42);
  }
}
.section {
  h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 4em;
    color: #FFF;
  }
  p {
    color: #FFF;
    opacity: 0.9;
    font-size: .85em;
    line-height: 1.8em;
  }
}

/* Section
 * --------------------------------------- */
#section0 {
  @extend .text-overlay;
  background-color: #2C3E50;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#section1 {
  background-color: #EDEDED;
  h1, p {
    color: rgb(64, 68, 68);
  }
}

#section2 {
  background-color: #EDEDED;
  h1, p {
    color: rgb(64, 68, 68);
  }
}

#section3 {
  background-color: #EDEDED;
  h1, p {
    color: rgb(64, 68, 68);
  }
}
